@font-face {
    font-family: MontserratItalic;
    src: url(assets/Montserrat-Italic.ttf);
}

@font-face {
    font-family: MontserratRegular;
    src: url(assets/Montserrat-Regular.ttf);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

html, body, #root, .app {
    height: 100%;
}

input {
    width: 310px;
    height: 2.5em;
    padding: 0 1em;
    line-height: 2.5em;
    border-radius: 5px;
    border: 2px solid #3190DD;
    color: #292D32;
}

label {
    margin: 0 15px;
}

button {
    background-color: #FF8C40;
    width: auto;
    align-self: center;
    border-radius: 3em;
    outline: none;
    border: none;
    color: #fff;
    padding: 0.5em 2.5em;
    margin: 10px 0;
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

h1 {
    padding: 0 5px;
}

h2 {
    align-self: center;
    margin: 1em;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: MontserratRegular, sans-serif;
    color: #292D32;
}

.logo {
    color: #3190DD;
    font-family: MontserratItalic, sans-serif;
    display: flex;
    align-items: center;
    margin: 1em;
}

.toolbar {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
    margin: 0 5px;
}

.toolbar__entry {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: baseline;
}

.error {
    border-radius: 5px;
    border: 2px solid #E25454;
    padding: 0 1em;
    line-height: 2.5em;
    height: 2.5em;
    margin: 20px 0;
}

.spinner {
    animation: spin 2s linear infinite;
}

.spinner__wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
