.link {
    stroke-width: 2px;
    fill: none;
}

.graph {
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}

.node {
    fill: #292D32;
    cursor: pointer;
}

.incoming {
    stroke: #4ECE67;
}

.outgoing {
    stroke: #E25454;
}
